<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <title>API Search Front-end</title>

        <link rel="stylesheet" tpye= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">

        <style>
            @media screen and (max-width: 599px) {
                .small
            }
            @media screen and (min-width: 600px) {
                .large
            }


        </style>

    </head>

    <body>
        <h1>Search Wikipedia or Reddit!</h1>
        <form action="/post" method="post">
            <fieldset>
                <legend>Search Function</legend>

                <div>
                    <label for="Site">Site</label>
                    <select id="site" name="searchSite">
                        <option value="Wikipedia">Wikipedia</option>
                        <option value="Reddit">Reddit</option>
                    </select>
                </div>

                <div>
                    <label for="numResults">How Many Results do you want?</label>
                    <input type="number" id="Number of Results" name="numResults" value="10">
                </div>

                <div>
                    <label for="Search Query">Search Here:</label>
                    <input type="text" id="Search Query" name="searchQuery">
                </div>

                <div>
                    <button type="CallAPI">Search!</button>
                </div>


            </fieldset>
        </form>

        <h2>Search Results: {{site}} {{search}}</h2>

        {% for i in range(resNum) %}
            <div>
                <p>{{data[i][0]}}:   {{data[i][1]}}</p>
            </div>
        {% endfor %}

    </body>
</html>
